---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>What's in a name?</h1>

<div x-data="randomNameGenerator">
  <button x-on:click="generateName()">Generate Name</button>
  <p x-text="randomName"></p>
</div>